doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer")


    link(rel="stylesheet", href="css/style.css")

    title Nintendo測試
  body
    haeder.l-header 
      nav.c-navbar__menu
        ul.c-navbar__btn-box
          li.c-navbar__btn-wrap.--primary
            a.c-navbar__img-mask(href="##") 
              img.c-navbar__img(src="img/navbar/logo.svg", alt="Nintendo Logo")
          li.c-navbar__btn-wrap
            a(href="")  
              span.c-navbar__text 主機‧amiibo
          li.c-navbar__btn-wrap
            a(href="") 
              span.c-navbar__text 遊戲軟體
          li.c-navbar__btn-wrap
            a(href="") 
              span.c-navbar__text TOPICS
          li.c-navbar__btn-wrap
            a(href="") 
              span.c-navbar__text 角色
          li.c-navbar__btn-wrap 
            a(href="") 
              span.c-navbar__text 客戶服務
      banner.c-banner
        #carouselExampleFade.carousel.slide.carousel-fade(data-bs-ride='carousel')
          .carousel-inner
            .carousel-item.active.c-banner__img-mask
              a(href="##") 
                img.d-block.w-100(src='img/banner/swicth-splatoon3.jpg' alt='斯普拉頓3 Switch主機')
            .carousel-item.c-banner__img-mask
              a(href="") 
                img.d-block.w-100(src='img/banner/splatoon3.jpg' alt='斯普拉頓3')
            .carousel-item.c-banner__img-mask
              a(href="") 
                img.d-block.w-100(src='img/banner/nintendoSport.png' alt='Nintendo Switch運動')
            .carousel-item.c-banner__img-mask
              a(href="") 
                img.d-block.w-100(src='img/banner/pokemon.jpg' alt='寶可夢 朱/紫')
            .carousel-item.c-banner__img-mask
              a(href="") 
                img.d-block.w-100(src='img/banner/mario.jpg' alt='馬力歐派對')
          button.carousel-control-prev.c-banner__btn-left.--center.--btn-sm.--primary(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='prev')
            span.carousel-control-prev-icon(aria-hidden='true')
            span.visually-hidden Previous
          button.carousel-control-next.c-banner__btn-right.--center.--btn-sm.--primary(type='button' data-bs-target='#carouselExampleFade' data-bs-slide='next')
            span.carousel-control-next-icon(aria-hidden='true')
            span.visually-hidden Next
    main.l-main
      section.l-topics
        .container
          .row 
            .col-12
              .o-title
                h2.o-title__zh 最新話題
                h2.o-title__en TOPICS
          .row.c-card__box
            article.col-md-3
              a.c-card.c-card__new(href="") 
                .c-card__img-mask
                  img(src="img/game/pokemon.jpg", alt="寶可夢朱紫")
                .c-card__content
                  span.c-card__text 《寶可夢 朱／紫》 最新資訊公開！
                .c-card__bottom
                  .c-card__date
                    span Nintendo Switch
                    span.--bold 2022.11.09
                  i.fa-solid.fa-circle-chevron-right
            article.col-md-3
              a.c-card.c-card__new(href="") 
                .c-card__img-mask
                  img(src="img/game/splatoon3.jpg", alt="斯普拉頓3")
                .c-card__content
                  span.c-card__text 斯普拉遁 3超魷型屋台(イカス屋台)首度正式登台
                  span.c-card__text 就從本周開始 全台巡迴開「占」囉！
                .c-card__bottom  
                  .c-card__date
                    span Nintendo Switch
                    span.--bold 2022.11.03
                  i.fa-solid.fa-circle-chevron-right
            article.col-md-3
              a.c-card(href="") 
                .c-card__img-mask
                  img(src="img/game/pokemon.jpg", alt="##")
                .c-card__content
                  span.c-card__text 《寶可夢 朱／紫》 最新資訊公開！
                .c-card__bottom  
                  .c-card__date
                    span Nintendo Switch
                    span.--bold 2022.11.17
                  i.fa-solid.fa-circle-chevron-right
            article.col-md-3
              a.c-card(href="") 
                .c-card__img-mask
                  img(src="img/game/bayonetta.jpg", alt="##")
                .c-card__content
                  span.c-card__text 公開逼近《蓓優妮塔3》故事核心的影片。
                .c-card__bottom  
                  .c-card__date
                    span Nintendo Switch
                    span.--bold 2022.11.14
                  i.fa-solid.fa-circle-chevron-right
            article.col-md-3
              a.c-card(href="") 
                .c-card__img-mask
                  img(src="img/game/pokemon.jpg", alt="##")
                .c-card__content
                  span.c-card__text 《寶可夢 朱／紫》 最新資訊公開！
                .c-card__bottom  
                  .c-card__date
                    span Nintendo Switch
                    span.--bold 2022.10.11
                  i.fa-solid.fa-circle-chevron-right
            article.col-md-3
              a.c-card(href="") 
                .c-card__img-mask
                  img(src="img/game/bayonetta2.jpg", alt="##")
                .c-card__content
                  span.c-card__text 系列的第一部作品，支援中文的《蓓優妮塔 魔兵驚天錄》(Bayonetta) 盒裝版，今天在Nintendo Switch上發售
                .c-card__bottom  
                  .c-card__date
                    span Nintendo Switch
                    span.--bold 2022.9.30
                  i.fa-solid.fa-circle-chevron-right
            article.col-md-3
              a.c-card(href="") 
                .c-card__img-mask
                  img(src="img/game/mario.jpg", alt="##")
                .c-card__content
                  span.c-card__text Nintendo Switch《瑪利歐激戰前鋒 戰鬥聯賽》免費更新第2彈，於本日發布。
                .c-card__bottom  
                  .c-card__date
                    span Nintendo Switch
                    span.--bold 2022.9.22
                  i.fa-solid.fa-circle-chevron-right
            article.col-md-3
              a.c-card(href="") 
                .c-card__img-mask
                  img(src="img/game/bayonetta3.jpg", alt="##")
                .c-card__content
                  span.c-card__text 「魔女說明書」徹底解說《蓓優妮塔3》(Bayonetta 3)的戰鬥。介紹系列概要、登場的角色等，及向新玩家提供有用的資訊。
                .c-card__bottom  
                  .c-card__date
                    span Nintendo Switch
                    span.--bold 2022.9.14
                  i.fa-solid.fa-circle-chevron-right

  








  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous")